# Grouping

### Dataset: Alcohol Consumption

### Ejercicio 1: Import
Import pandas

In [1]:
# Pista: import pandas as pd
import pandas as pd
import numpy as np

In [2]:
assert 'pd' in dir()
print('âœ“ OK')

âœ“ OK

### Ejercicio 2: Load drinks
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv

In [3]:
# Pista: pd.read_csv()
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv")

In [4]:
assert drinks.shape[0] > 0
print('âœ“ Cargado')

âœ“ Cargado

### Ejercicio 3: Preview
See first rows

In [5]:
# Pista: .head()
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [6]:
print('OK')
print('âœ“ Vista')

OK
âœ“ Vista

### Ejercicio 4: Beer by continent
Which continent drinks most beer?

In [7]:
# Pista: .groupby('continent').beer.mean()
beer_mean = drinks.groupby('continent').beer_servings.mean()

In [8]:
assert beer_mean is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 5: Wine stats
Stats for wine by continent

In [9]:
# Pista: .groupby('continent').wine.describe()
wine_stats = drinks.groupby('continent').wine_servings.describe()

In [10]:
assert wine_stats is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 6: Mean all cols
Mean by continent for all

In [17]:
# Pista: .groupby('continent').mean()
all_mean = drinks.groupby('continent').mean(numeric_only=True)

In [18]:
assert all_mean is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 7: Median all cols
Median by continent

In [20]:
# Pista: .groupby('continent').median()
all_median = drinks.groupby('continent').median(numeric_only=True)

In [21]:
assert all_median is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 8: Spirit agg
Mean, min, max for spirits

In [22]:
# Pista: .agg(['mean', 'min', 'max'])
spirit_agg = drinks['spirit_servings'].agg(['mean', 'min', 'max'])

In [23]:
assert spirit_agg is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 9: Count by continent
How many countries per continent?

In [24]:
# Pista: .groupby('continent').size()
countries = drinks.groupby('continent').size()

In [25]:
assert countries is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 10: Total consumption
Total alcohol by continent

In [26]:
# Pista: .groupby('continent').sum()
total = drinks.groupby('continent').sum()

In [27]:
assert total is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 11: Custom agg
Multiple functions

In [28]:
# Pista: .agg({'beer': 'mean', 'wine': 'sum'})
custom = drinks.agg({'beer_servings': 'mean', 'wine_servings': 'sum'})

In [29]:
assert custom is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 12: Filter + group
Mean beer where > 100

In [30]:
# Pista: .loc[drinks.beer > 100].groupby('continent').mean()
filtered = drinks.loc[drinks.beer_servings > 100].groupby('continent').mean(numeric_only=True)

In [31]:
assert filtered is not None
print('âœ“ OK')

âœ“ OK

## Â¡Completado! ðŸŽ‰