# Apply

### Dataset: Student Alcohol

### Ejercicio 1: Import
Import libraries

In [1]:
# Pista: import pandas as pd
import pandas as pd
import numpy as np

In [2]:
assert 'pd' in dir()
print('âœ“ OK')

âœ“ OK

### Ejercicio 2: Load data
https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv

In [3]:
# Pista: pd.read_csv()
df = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv")

In [4]:
assert df.shape[0] > 0
print('âœ“ Cargado')

âœ“ Cargado

### Ejercicio 3: Slice cols
school to guardian

In [5]:
# Pista: df.loc[:, 'school':'guardian']
sliced = df.loc[:, 'school':'guardian']

In [6]:
assert sliced is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 4: Lambda upper
Create capitalize lambda

In [7]:
# Pista: lambda x: x.capitalize()
cap = lambda x: x.capitalize()

In [8]:
assert callable(cap)
print('âœ“ OK')

âœ“ OK

### Ejercicio 5: Apply capitalize
Capitalize Mjob, Fjob

In [25]:
# Pista: .apply(capitalizer)
cap_cols = df[['Mjob', 'Fjob']].apply(lambda col: col.apply(cap))

In [26]:
assert cap_cols is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 6: Check type
Verify string columns

In [27]:
# Pista: print(df.dtypes)
print(df.dtypes)
print('OK')
print('âœ“ Checked')

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object
OK
âœ“ Checked

In [28]:
print('OK')
print('âœ“ Checked')

OK
âœ“ Checked

### Ejercicio 7: Apply inplace
Modify original df

In [30]:
# Pista: df['Mjob'] = df['Mjob'].apply(...)
updated = df.copy()
updated['Mjob'] = updated['Mjob'].apply(cap)
updated['Fjob'] = updated['Fjob'].apply(cap)

In [31]:
assert updated is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 8: Custom function
Create legal_drinker (age>17)

In [32]:
# Pista: def majority(x): return x > 17
def legal(x):
    return x > 17

In [33]:
assert callable(legal)
print('âœ“ OK')

âœ“ OK

### Ejercicio 9: Apply function
Add legal_drinker column

In [34]:
# Pista: .apply(majority)
df_legal = df.copy()
df_legal['legal_drinker'] = df_legal['age'].apply(legal)

In [35]:
assert df_legal is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 10: Lambda math
Multiply by 10

In [36]:
# Pista: lambda x: x * 10 if isinstance(x, int) else x
mult = lambda x: x * 10 if isinstance(x, int) else x

In [37]:
assert callable(mult)
print('âœ“ OK')

âœ“ OK

### Ejercicio 11: Applymap
Apply to all values

In [38]:
# Pista: .applymap() or .map()
all_mult = df.applymap(mult)

C:\Users\usuario\AppData\Local\Temp\ipykernel_2380\2390660074.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  all_mult = df.applymap(mult)

In [39]:
assert all_mult is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 12: Groupby apply
Custom groupby function

In [40]:
# Pista: .groupby('Mjob').apply(lambda x: x.mean())
group_apply = df.groupby('Mjob').apply(lambda x: x.mean(numeric_only=True))
group_apply

C:\Users\usuario\AppData\Local\Temp\ipykernel_2380\1614185443.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  group_apply = df.groupby('Mjob').apply(lambda x: x.mean(numeric_only=True))

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
Mjob,,,,,,,,,,,,,,,,
at_home,16.966102,1.711864,2.118644,1.694915,2.101695,0.423729,3.881356,3.016949,3.000000,1.389831,2.338983,3.271186,4.694915,10.457627,9.677966,9.152542
health,16.352941,3.647059,2.941176,1.205882,2.000000,0.235294,3.764706,3.205882,3.323529,1.264706,2.382353,3.764706,4.558824,12.205882,12.352941,12.147059
other,16.751773,2.404255,2.234043,1.482270,2.028369,0.340426,3.971631,3.219858,3.106383,1.503546,2.248227,3.489362,6.170213,10.177305,10.177305,9.822695
services,16.679612,2.844660,2.572816,1.388350,2.029126,0.466019,4.029126,3.271845,3.135922,1.524272,2.281553,3.747573,6.019417,11.388350,11.213592,11.019417
teacher,16.517241,3.948276,3.293103,1.362069,2.017241,0.051724,3.896552,3.448276,3.051724,1.568966,2.310345,3.534483,5.741379,11.534483,11.224138,11.051724

In [41]:
assert group_apply is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 13: Transform
Transform with groupby

In [43]:
# Pista: .groupby('school').transform('mean')
transformed = df.select_dtypes(include='number').groupby(df['school']).transform('mean')

In [44]:
assert transformed is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 14: Agg multiple
Multiple aggregations

In [46]:
# Pista: .agg(['mean', 'sum', 'std'])
multi_agg = df.select_dtypes(include='number').agg(['mean', 'sum', 'std'])

In [47]:
assert multi_agg is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 15: Apply with axis
Apply by row/column

In [49]:
# Pista: .apply(func, axis=1)
axis_apply = df.apply(lambda row: row['age'] + row['absences'], axis=1)
axis_apply

0      24
1      21
2      25
3      17
4      20
       ..
390    31
391    20
392    24
393    18
394    24
Length: 395, dtype: int64

In [50]:
assert axis_apply is not None
print('âœ“ OK')

âœ“ OK

## Â¡Completado! ðŸŽ‰