# Stats

### Dataset: US Baby Names

### Ejercicio 1: Import
Import pandas, numpy

In [1]:
# Pista: import pandas as pd; import numpy as np
import pandas as pd
import numpy as np

In [2]:
assert 'pd' in dir()
print('âœ“ OK')

âœ“ OK

### Ejercicio 2: Load data
https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv

In [3]:
# Pista: pd.read_csv()
baby_names = pd.read_csv(
    "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"
)

In [4]:
assert baby_names.shape[0] > 0
print('âœ“ Cargado')

âœ“ Cargado

### Ejercicio 3: Preview
First rows

In [5]:
# Pista: .head()
baby_names.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

In [6]:
print('OK')
print('âœ“ OK')

OK
âœ“ OK

### Ejercicio 4: Drop cols
Delete 'Unnamed: 0' and 'Id'

In [7]:
# Pista: .drop(['Unnamed: 0', 'Id'], axis=1)
bn_clean = baby_names.drop(['Unnamed: 0', 'Id'], axis=1)

In [8]:
assert bn_clean is not None
print('âœ“ Limpio')

âœ“ Limpio

### Ejercicio 5: Gender count
More male or female names?

In [9]:
# Pista: .groupby('Gender').size()
gender_count = bn_clean.groupby('Gender').size()

In [10]:
assert gender_count is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 6: Group by name
Groupby name

In [11]:
# Pista: .groupby('Name')
by_name = bn_clean.groupby('Name')

In [12]:
assert by_name is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 7: Unique names
How many different names?

In [13]:
# Pista: .nunique() or .groupby().ngroups
num_names = bn_clean['Name'].nunique()
num_names

17632

In [14]:
assert num_names > 0
print('âœ“ OK')

âœ“ OK

### Ejercicio 8: Most common
Name with most occurrences

In [15]:
# Pista: .groupby('Name').Count.sum().idxmax()
most_common = bn_clean.groupby('Name')['Count'].sum().idxmax()
most_common

'Jacob'

In [16]:
assert most_common is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 9: Least common
How many with least?

In [17]:
# Pista: ...min()...
total_counts = bn_clean.groupby('Name')['Count'].sum()
least_count = (total_counts == total_counts.min()).sum()
least_count

np.int64(2578)

In [18]:
assert least_count > 0
print('âœ“ OK')

âœ“ OK

### Ejercicio 10: Median
Median name occurrence

In [19]:
# Pista: .groupby('Name').Count.sum().median()
med = bn_clean.groupby('Name')['Count'].sum().median()
med

np.float64(49.0)

In [20]:
assert med > 0
print('âœ“ OK')

âœ“ OK

### Ejercicio 11: Std
Standard deviation

In [21]:
# Pista: .std()
std_val = bn_clean['Count'].std()

In [22]:
assert std_val > 0
print('âœ“ OK')

âœ“ OK

### Ejercicio 12: Describe
Summary stats

In [23]:
# Pista: .describe()
summary = bn_clean.describe()

In [24]:
assert summary is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 13: Top 10
Top 10 names

In [25]:
# Pista: .groupby('Name').Count.sum().nlargest(10)
top10 = bn_clean.groupby('Name')['Count'].sum().nlargest(10)

In [26]:
assert len(top10) == 10
print('âœ“ OK')

âœ“ OK

### Ejercicio 14: Percentiles
25th, 50th, 75th

In [27]:
# Pista: .quantile([.25, .5, .75])
perc = bn_clean['Count'].quantile([0.25, 0.5, 0.75])

In [28]:
assert perc is not None
print('âœ“ OK')

âœ“ OK

### Ejercicio 15: Trend
Names trend over time

In [29]:
# Pista: .groupby(['Year', 'Name']).Count.sum()
trend = bn_clean.groupby(['Year', 'Name'])['Count'].sum()

In [30]:
assert trend is not None
print('âœ“ OK')

âœ“ OK

## Â¡Completado! ðŸŽ‰